.helper_bar {
  margin: 2pt; 
  border: 1pt solid gray; 
  background: lightGray;
}

#calibration_content_text {
  width:100%; 
  height: 30pt; 
  box-sizing: border-box; 
  padding: 2pt;
}

.btn_block {
  border-right: 3pt solid darkgray;
  padding: 3pt 3pt 5pt 5pt;
}

.btn_block > button {
  min-width: 35pt;
  height: 24pt;
  padding: 2pt 3px 2pt 3px;
}